
/TODO_Example_Xtext2/features/org.eclipse.xtext.todo.feature/target
/TODO_Example_Xtext2/features/org.eclipse.xtext.todo.updatesite/target
/TODO_Example_Xtext2/plugins/org.xtext.example.mydsl/target
/TODO_Example_Xtext2/plugins/org.xtext.example.mydsl/plugin.xml_gen
/TODO_Example_Xtext2/plugins/org.xtext.example.mydsl.ui/target
/TODO_Example_Xtext2/plugins/org.xtext.example.mydsl.ui/plugin.xml_gen
/TODO_Example_Xtext2/releng/org.eclipse.xtext.todo.repository/target
/TODO_Example_Xtext2/tests/org.xtext.example.mydsl.tests/target
/TODO_Example_Xtext2/tests/org.eclipse.xtext.todo.ui.tests/target
/RepositoryTargetGenerator/xtend-gen
/RepositoryTargetGenerator/bin
/TODO_Example_Xtext2/plugins/org.eclipse.xtext.todo/xtend-gen
/TODO_Example_Xtext2/plugins/org.eclipse.xtext.todo/src-gen
/TODO_Example_Xtext2/plugins/org.eclipse.xtext.todo.ui/src-gen
/TODO_Example_Xtext2/plugins/org.eclipse.xtext.todo.ui/target
/TODO_Example_Xtext2/plugins/org.eclipse.xtext.todo/target
/TODO_Example_Xtext2/plugins/org.eclipse.xtext.todo/xtend-gen
/TODO_Example_Xtext2/plugins/org.eclipse.xtext.todo/src-gen
/TODO_Example_Xtext2/tests/org.eclipse.xtext.todo.tests/target
/TODO_Example_Xtext2/tests/org.eclipse.xtext.todo.tests/src-gen
/TODO_Example_Xtext2/tests/org.eclipse.xtext.todo.ui.tests/screenshots
/TODO_Example_Xtext2/tests/org.eclipse.xtext.todo.ui.tests/target
/TODO_Example_Xtext2/tests/org.eclipse.xtext.todo.ui.tests/xtend-gen